
nav {
  &.primary-navigation {
    
    margin: 0 auto;
    display: block;
  
    padding: 10px 0 0 0;  
    text-align: center;
    font-size: 18px;
    z-index: 1000;

    ul li {
      list-style: none;
      margin: 0 auto;
      border-left: 2px solid #e64b40;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
    }

    li a {
      color: rgb(0, 0, 0);
      cursor: inherit;
      &.hand-cursor {
        cursor: url(../miscellaneous/mouse/icons8-hand-cursor-40.png), auto;
      }
    }
    

    li a:hover {
      color: #e64b40;
    }





    // li:hover {
    //   cursor: pointer;
    // }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #e64b40;
      transition: all 0.3s ease;
    }
  }
  
}

a {

    text-decoration: none;
z-index: 4000;
    &:hover {
        color: #e64b40;
    }
    
}

 ul li ul li a { transition: all 0.5s ease; }


@media (max-width: 768px) {
    nav.primary-navigation {
      font-size: 14px;
    }

    nav.primary-navigation ul li {
      padding: 0 15px;
    }

    ul li ul {
      min-width: 200px;
      padding-top: 10px;
    }

    ul li ul li {
      margin-bottom: 10px;
    }
  }










  
  .arrow-container {
    position: relative;
    top: 80%; /* Adjust the distance from the bottom as needed */
    left: 80%; /* Adjust the distance from the right as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow {
    width: 3vw; /* Adjust the width of the buttons as needed */
    height: 3vw; /* Adjust the height of the buttons as needed */
    margin: 5px; /* Adjust the spacing between buttons as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #31ff53; /* Adjust the background color as needed */
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: absolute;
  }
  
  .arrow img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .forward {
    transform: rotate(0deg);
    bottom: 20%;
    left: 5%;
  }
  
  .backwards {
    transform: rotate(180deg);
    top: 20%;
    left: 5%;
  }
  
  .left {
    transform: rotate(-90deg);
    top: 50%;
    bottom: 50%;
    left: 0%;
  }
  
  .right {
    transform: rotate(90deg);
    top: 0%;
    right: 86.5%;
  }
  
  /* Media query for smaller devices */
  @media screen and (max-width: 768px) {
    .arrow-container {
      bottom: 30%; /* Adjust the distance from the bottom for smaller devices */
      right: 30%; /* Adjust the distance from the right for smaller devices */
    }
    .right {
      transform: rotate(90deg);
      top: 0%;
      right: 84%;
    }
    .arrow {
      width: 4vw; /* Adjust the width of the buttons for smaller devices */
      height: 4vw; /* Adjust the height of the buttons for smaller devices */
      
    }
  }

  // .arrow {
  //   position: absolute;
  //   top: 50%;
  //   width: 2vmin;
  //   height: 2vmin;
  //   background: transparent;
  //   border-top: 1.5vmin solid rgb(236, 44, 44);
  //   border-right: 1.5vmin solid rgb(236, 44, 44);
  //   box-shadow: 1 0 0 lightgray;
  //   transition: all 300ms ease;
  //   cursor: url(../miscellaneous/mouse/icons8-hand-cursor-40.png), auto;
    
  //   &.forward {
  //     top: 82%;
  //     left: 90%;
  //     transform: translate3d(0%,50%,0) rotate(-45deg); //rotateX(-60deg);
  //   }
  
  //   &.backwards {
  //     top: 90%;
  //     left: 90%;
  //     transform: translate3d(0%,50%,0) rotate(135deg); //rotateX(-60deg);
  //   }
  
  //   &.left {
  //     top: 90%;
  //     left: 87%;
  //     transform: translate3d(50%,-50%,0) rotate(-135deg);
  //   }
  
  //   &.right {
  //     top: 90%;
  //     right: 5%;
  //     transform: translate3d(-50%,-50%,0) rotate(45deg);
  //   }
    
  //   &:hover {
  //     border-color: rgb(68, 255, 68);
  //     box-shadow: 0.5vmin -0.5vmin 0 white;
  //   }
    
  //   &:before { // for better hit area
  //     content: '';
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-40%,-60%) rotate(45deg);
  //     width: 200%;
  //     height: 200%;
  //   }
  // }
  
  
    // background-color: rgb(141, 133, 133, 0.5);
    // width: 3%;
    // height: 6%;
    // border-radius: 60%;