@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


/* Default Project settings --------------------------------------------------------------------------*/
body {
  background: #000000;
  font-family: 'Dosis', Calibri, Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

/* To deactivate the cursor*/
/* canvas{
  cursor: none;
} */


.custom-cursor {
  cursor: url(../miscellaneous/mouse/icons8-pointer-48.png), auto;
  z-index: 5000;
}
.hand-cursor {
  z-index: 5000;
}

button,
textarea,
input,
select,
nav,
a{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.progress-bar-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}

/* For Firefox */
progress::-moz-progress-bar {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b78628+0,fcc201+100 */
  background: #bd2727; /* Old browsers */
  background: -moz-linear-gradient(left,  #bd2727 0%, #bd2727 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #b78628 0%,#bd2727 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #bd2727 0%,#bd2727 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b78628', endColorstr='#fcc201',GradientType=1 ); /* IE6-9 */
  border-radius: 10px;
}

/* For Chrome or Safari */
progress::-webkit-progress-value {
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b78628+0,fcc201+100 */
  background: #bd2727; /* Old browsers */
  background: -moz-linear-gradient(left,  #bd2727 0%, #bd2727 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #bd2727 0%,#bd2727 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #bd2727 0%,#bd2727 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b78628', endColorstr='#fcc201',GradientType=1 ); /* IE6-9 */
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  border-radius: 10px;
}

/* For IE10 */
progress {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b78628+0,fcc201+100 */
  background: #bd2727; /* Old browsers */
  background: -moz-linear-gradient(left,  #bd2727 0%, #fcc201 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #bd2727 0%,#fcc201 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #bd2727 0%,#fcc201 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd2727', endColorstr='#fcc201',GradientType=1 ); /* IE6-9 */
  border-radius: 10px;
}

label {
  color: white;
  font-size: 2rem;
}



/* Default Project settings --------------------------------------------------------------------------*/

/* Experience canvas --------------------------------------------------------------------------*/

.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}


/* Page section --------------------------------------------------------------------------------*/

.page{
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper{
  position: absolute;
}

/* Hero section ---------------------------------------------------------------------------------*/

.hero{
  width: 100vw;
  height: 100vh;
}

.hero-wrapper{
  width: relative;
  height: 100%;
}


.hero-main{
  position: absolute;
  bottom: 2%;
  left: 2%;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}


/* --------------------------------------------------------------------------------------------- */


.small-renderer-container {
  position: relative;
}

.small-renderer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}


